*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{

    background-color: rgb(131, 131, 255);

}

header{
            
    width: 100vw;
    height: 10vh;
    background-color: rgb(10, 10, 112);
    box-shadow: 0px 0px 15px black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mainOption{

    text-decoration: none;
    color: white;
    font-size: larger;

}

.mainOption:hover{

    color: yellow;

}

.mainMenu{

    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 50%;

}

.tabelaCliente,th,td{

    border: 1px solid black;
    border-spacing: inherit;

}

.tabelaCliente td{

    font-size: medium;
    padding: 5px;

}

.tabelaCliente th{

    padding: 5px;

}

#linhaTabela{

    cursor: default;

}

#linhaTabela:hover{

    background: white !important;

}

.formularioCliente{

    display: flex;
    justify-content: flex-start;
    width: 55vw;
    height: 20vh;
    background-color: rgb(98, 98, 231);
    box-shadow: 0px 0px 5px black;

}

#caixaFormulario{

    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    margin-top: 5vh;

}

#clienteID{

    width: 3vw;
    height: 3vw;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0px 0px 3px black;
    cursor: default;

}

#campoID{

    height: 100%;
    width: 8vw;
    display: flex;
    justify-content: safe;
    flex-direction: column;
    align-items: center;

}

#campoID label{

    margin-bottom: 5px;
    margin-top: 20px;
    font-size: larger;
    font-weight: bold;

}

#camposDados{

    margin-top: 10px;
    width: 40vw;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#buttons{

    height: 30%;
    width: 44vw;
    display: flex;
    justify-content: end;

}

#cambut{

    height: 100%;
    width: 40vw;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

#cambut button{

    height: 3vh;
    width: 5vw;

}

#botaoSalvar{

    margin-right: 10px;

}