*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-color: rgb(131, 131, 255);

}

header{
            
    width: 100vw;
    height: 10vh;
    background-color: rgb(10, 10, 112);
    box-shadow: 0px 0px 15px black;

}

.mainOption{

    text-decoration: none;
    color: white;
    font-size: larger;
    margin-left: 100px;
    display: block;
    position: relative;

}

.mainOption:hover{

    color: yellow;

}

.mainMenu{

    padding-top: 4vh;
    display: flex;

}

.tabelaCliente,th,td{

    border: 1px solid black;
    border-spacing: inherit;

}

.tabelaCliente td{

    font-size: medium;
    padding: 5px;

}

.tabelaCliente th{

    padding: 5px;

}

#linhaTabela{

    cursor: default;

}

#linhaTabela:hover{

    background: white !important;

}

.formularioCliente{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 15vh;
    background-color: aquamarine;
    padding-top: 5vh;

}

#caixaFormulario{

    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;

}