*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{

    background-color: #f1f1f1;

}

header{
            
    width: 100%;
    height: 10vh;
    background-color: rgb(10, 10, 112);
    box-shadow: 0px 0px 15px black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mainOption{

    text-decoration: none;
    color: white;
    font-size: larger;

}

.mainOption:hover{

    color: yellow;

}

.mainMenu{

    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 50%;

}

.tabelaCliente,th,td{

    border: 1px solid black;
    border-spacing: inherit;

}

.tabelaCliente{

    margin-top: 5vh;
    margin-left: 8vw;
    width: 70vw;

}

.tabelaCliente td{

    font-size: medium;
    padding: 5px;

}

.tabelaCliente tr{

    background-color: rgb(235, 235, 255);

}

.tabelaCliente th{

    background-color: rgb(10, 10, 112);
    padding: 5px;
    color: white;

}

#linhaTabela{

    cursor: default;

}

#linhaTabela:hover{

    background: rgb(201, 201, 201) !important;

}

.formularioCliente{

    display: flex;
    justify-content: center;
    width: 100%;
    height: 40vh;
    background-color: rgb(235, 235, 255);
    box-shadow: 0px 0px 5px black;
    flex-direction: column;

}

.formularioCliente input{

    border: 1px solid black;
    box-shadow: 0px 0px 3px black;

}

#caixaFormulario{

    margin-left: 2vw;
    width: 15vw;
    height: 45vh;
    display: flex;
    margin-top: 5vh;

}

#clienteID{

    width: 3vw;
    height: 3vw;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0px 0px 3px black;
    cursor: default;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: xx-large;

}

#campoID{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

#camposDados{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

#camposDados input{

    padding: 5px;

}

#buttons{

    margin-top: 15px;
    height: 30%;
    width: 15vw;
    display: flex;
    justify-content: center;

}

#cambut button{

    height: 3vh;
    width: 5vw;
    border-radius: 3px;

}

#botaoSalvar{

    color: white;
    margin-right: 10px;
    border: 1px solid black;
    background-color: #1e7015;
    transition-duration: .2s;

}

#botaoCancelar{

    color: white;
    border: 1px solid black;
    background-color: #a51106;
    transition-duration: .2s;

}

#botaoSalvar:hover{

    background-color: #278a1c;

}

#botaoCancelar:hover{

    background-color: #cc1b0f;

}

.crudCliente{

    display: flex;
    align-items: flex-start;

}